<div class="flex-container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutAlign.xs="start">
  <div class="flex-item" fxFlex="20%" fxFlex.xs="40%"> </div>
  <div class="flex-item" fxFlex>
    <a routerLink="/" routerLinkActive="active"><-</a>  
    <form novalidate [formGroup]="newSurveyForGroup" (ngSubmit)="onSubmit(newSurveyForGroup)">
      <div>
        <md-input-container>
          <input md-input placeholder="Id" formControlName="id">
        </md-input-container>
        <small *ngIf="newSurveyForGroup.controls.id?.hasError('required') && newSurveyForGroup.controls.id?.touched">
          {{ newSurveyForGroup.controls.id?.errors | json }}
        </small>
      </div>
      <div>
        <md-input-container>
          <input md-input placeholder="Name" formControlName="name">
        </md-input-container>
        <small *ngIf="newSurveyForGroup.controls.name?.hasError('required') && newSurveyForGroup.controls.name?.touched">
          {{ newSurveyForGroup.controls.name?.errors | json }}
        </small>
      </div>
      <button type="submit" [disabled]="newSurveyForGroup.invalid">Add</button>
    </form>
  </div>
  <div class="flex-item" fxFlex="20%"> </div>
</div>